//
// Mixins for generation of cell sizes.
//

// Calculate a width that depends upon the numeric value in the $dictionary map.

@function calc-width($index) {
  @return 100% * (1 / $index);
}

// Get the width for a cell.

@mixin build-cell-size($index) {
  width: calc-width($index);
}

// Get the margin for a specific offset.

@mixin build-offset-size($index) {
  margin-left: calc-width($index);
}

// Build responsive sizing and offset classes by cell size.

@mixin build-cell-sizes($index) {
  $width-name: map-get($dictionary, $index);

  // Cell size.
  .cell-#{$width-name} {
    @include build-cell-size($index);
  }

  // Cell offset.
  .cell-offset-#{$width-name} {
    @include build-offset-size($index);
  }

  // Responsive cell sizes and offsets.
  @if $responsive-size-classes {
    @each $name, $width in $width-breakpoints {
      @media (min-width: $width) {
        .cell-#{$name}-#{$width-name} {
          @include build-cell-size($index);
        }

        .cell-offset-#{$name}-#{$width-name} {
          @include build-offset-size($index);
        }
      }
    }
  }
}

// Builds all the classes.

@mixin build-cells {
  @for $index from 1 through $cells-per-row {
    @include build-cell-sizes($index);
  }
}
