//
// Cells that can be inserted into grids.
//

// Basic cell.

.cell {
  display: block;
  box-sizing: border-box;
  float: left;
  padding: 0 ($gutter / 2);
}

// Sizes.

@include build-cells;

// Utilities.

.cell-right { float: right; }

.cell-center {
  margin: 0 auto;
  float: none;
}
