//
// Define all variables here.
// Adjust those values to generate your custom grid system.
//

// Gutter between cells.
$gutter: 1em !default;

// Number of grids that float next to each other in one row.
$cells-per-row: 10 !default;

// Lookup table to get number names by number value.

$number-names: (
  1:  "one",
  2:  "two",
  3:  "three",
  4:  "four",
  5:  "five",
  6:  "six",
  7:  "seven",
  8:  "eight",
  9:  "nine",
  10: "ten",
  11: "eleven",
  12: "twelve",
  13: "thirteen",
  14: "fourteen",
  15: "fifteen",
  16: "sixteen",
  17: "seventeen",
  18: "eighteen",
  19: "nineteen",
  20: "twenty"
) !default;

// Lookup table to get shares as names by numeric value.

$share-names: (
  2:  "half",
  3:  "third",
  4:  "fourth",
  5:  "fifth",
  6:  "sixth",
  7:  "seventh",
  8:  "eighth",
  9:  "ninth",
  10: "tenth",
  11: "eleventh",
  12: "twelfth",
  13: "thirteenth",
  14: "fourteenth",
  15: "fifteenth",
  16: "sixteenth",
  17: "seventeenth",
  18: "eighteenth",
  19: "nineteenth",
  20: "twentieth"
) !default;

// String to append to a word to pluralize it.
$pluralizer: "s" !default;

// Enable/Disable responsive size classes.
$responsive-size-classes: true !default;

// Define break points for responsive design here.
//
// Width classes:
//
//          width < 720px     (e.g. smartphones)
// 720px  < width < 960px     (e.g. tablets)
// 960px  < width < 1200px    (e.g. notebooks)
// 1200px < width             (e.g. desktops with large screens)
//
// You can add new width breakpoints to the grid system by adding an entry to the $width-breakpoints map.

$width-breakpoints: (
  "tablet":     720px,
  "desktop":    960px,
  "widescreen": 1200px
) !default;
